/* FollowersPage.css */
@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.text {
  font-family: "BMJUA";
}

.followers {
  max-width: 100%; /* 최대 너비를 부모 요소의 너비에 따라 조정 */
  width: 100%; /* 너비를 부모 요소의 너비에 따라 조정 */
  font-family: "BMJUA", sans-serif; /* 폰트 적용 */
}

.followers .text {
  font-family: "BMJUA", sans-serif; /* 폰트 적용 */
}

.MyPage .text {
  font-family: "BMJUA", sans-serif;
}

@media (max-width: 600px) {
  .followers {
    max-width: 100%;
    width: 100%;
    /* 추가적인 스타일링 */
  }
}
