/* Logopage.css */

.logopage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.logo-container {
  margin-bottom: 20px;
}

.intro-text {
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}

.navigation-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

@media (min-width: 600px) {
  .logopage-container {
    height: 60vh;
  }

  .navigation-buttons {
    flex-direction: row;
  }

  .button {
    padding: 10px 20px;
    width: 150px;
    text-align: center;
  }
}
