/* PostPage.css */
@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-family: "BMJUA", sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container .text {
  font-family: "BMJUA";
}

.container .content {
  font-size: 1.5rem;
  font-family: "BMJUA";

  line-height: 1.8;
  margin-bottom: 20px;
  color: #333;
}

.container .actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.container .actions .MuiIconButton-root {
  color: #e57373;
}

.container .liked {
  color: #9c27b0;
}

.comments-section {
  margin-top: 20px;
}

.comments-title {
  font-family: "BMJUA";

  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.comments-list {
  margin-bottom: 20px;
  font-family: "BMJUA";
}

.comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.comment-author {
  font-size: 0.875rem;
  color: #666;
  font-weight: bold;
}

.comment-content {
  font-size: 1rem;
}

.add-comment {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-family: "BMJUA";
}
