.container {
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-family: "BMJUA", sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container .text {
  font-family: "BMJUA";
}

.container .content {
  font-size: 1.5rem;
  font-family: "BMJUA";
  line-height: 1.8;
  margin-bottom: 20px;
  color: #333;
}

/* 추가된 CSS */
.container .upload-post-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container .actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.container .actions .MuiIconButton-root {
  color: #000000; /* 기본 상태에서 회색 */
}

.container .liked .MuiIconButton-root {
  color: #e57373; /* 좋아요를 누른 상태에서 빨간색 */
}

.container .not-liked .MuiIconButton-root {
  color: #858585; /* 좋아요를 누르지 않은 상태에서 회색 */
}

.comments-section {
  margin-top: 20px;
}

.comments-title {
  font-family: "BMJUA";
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.comments-list {
  margin-bottom: 20px;
  font-family: "BMJUA";
}

.comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.comment-author {
  font-size: 0.875rem;
  color: #666;
  font-weight: bold;
}

.comment-content {
  font-size: 1rem;
}

.add-comment {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  font-family: "BMJUA";
}

.add-comment .cmtaddbtn {
  font-family: "BMJUA";
  min-width: 50px;
  width: 100px;
}
