@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Profile {
  display: flex;
  align-items: center;
  font-family: "BMJUA";
  font-weight: 600;
  font-style: normal;

  min-height: 100vh; /* 최소 높이를 100vh로 설정 */

  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

  margin: 10px 0; /* 위 아래 모두에 20px 마진 적용 */
}

.Profile .text {
  font-family: "BMJUA";
}

.Profile .ProfileContainer {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row; /* 세로 방향에서 가로 방향으로 변경 */
}

.Profile .ProfileBox {
  display: flex;
  flex: 1;
  flex-direction: row; /* 세로 방향에서 가로 방향으로 변경 */
  align-items: flex-start; /* 좌측 정렬 */
  justify-content: center;
}

.Profile .ProfileBox .Profileimg {
  /* margin-bottom: 20px; */
}

.Profile .LeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* 유동적인 높이 설정 */
  margin-top: 50px;
}

.Profile .Namefield {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: "BMJUA";
}

.Profile .yourname {
  font-family: "BMJUA";
}

.Profile .Namefield .savebt {
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: #ad85f7;
  font-family: "BMJUA";
}

.Profile .UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile .Userpost {
  flex: 1.5; /* 기존 2에서 변경 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  margin-top: 50px;
}

.Userpost .text1 {
  font-family: "BMJUA";
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.post-card-content {
  width: auto;
  height: 300px; /* 고정된 높이 설정 */
  display: flex;
  flex-direction: column;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 중앙 정렬 */
}

.post-card-content img {
  height: 150px; /* 이미지 높이 제한 */
  object-fit: cover;
  display: block;
  margin: auto;
}

.Userpost .Profileuploadimg {
}

@media (max-width: 1000px) {
  .Profile .ProfileContainer {
    flex-direction: column;
  }

  .Profile .ProfileBox {
    flex-direction: column;
  }

  .Profile .LeftSide,
  .Profile .Namefield,
  .Profile .UserInfo,
  .Profile .Userpost {
    width: 100%; /* 컨테이너에 맞춰 전체 너비 사용 */
    margin-bottom: 20px; /* 아래 여백 추가 */
  }

  .posts-container {
    grid-template-columns: 1fr; /* 한 열로 배치 */
  }

  .post-card-content {
    width: auto;
    height: auto; /* 카드 높이 자동 조정 */
    align-items: center;
    justify-content: center;
  }
}

.footer {
  margin-top: auto; /* Footer를 항상 페이지 하단에 고정 */
}
