* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Profile {
  display: flex;
  align-items: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
  min-height: 100vh;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.Profile .ProfileContainer {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
}

.Profile .ProfileBox {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.Profile .LeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 50px;
}

.Profile .Namefield {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.Profile .Namefield .savebt {
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: #ad85f7;
}

.Profile .UserInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile .Userpost {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.post-card-content {
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-card-content img {
  height: 150px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.ProfileImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ProfileImageContainer .MuiIconButton-root {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ProfileImageContainer .MuiAvatar-root {
  background-color: #e0e0e0;
}

.ProfileImageContainer .MuiAvatar-root img {
  display: block;
}

@media (max-width: 1000px) {
  .Profile .ProfileContainer {
    flex-direction: column;
  }

  .Profile .ProfileBox {
    flex-direction: column;
  }

  .Profile .LeftSide,
  .Profile .Namefield,
  .Profile .UserInfo,
  .Profile .Userpost {
    width: 100%;
    margin-bottom: 20px;
  }

  .posts-container {
    grid-template-columns: 1fr;
  }

  .post-card-content {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  margin-top: auto;
}
