@font-face {
  font-family: "BMJUA";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "BMJUA";
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

.MuiPopover-paper {
  overflow: auto;
}

.topline {
  margin: 0;
  height: 0;
  color: rgb(185, 185, 185);
  margin-bottom: 55px;
}

.topheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin: 0 20px;
}

.favoriteButton {
  margin-right: auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* 헤더 높이 조정 */
  margin-bottom: 5px; /* 아래쪽 마진 조정 */

  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
  z-index: 1000; /* 헤더가 다른 요소 위에 표시되도록 설정 */
}

.header.hidden {
  top: -60px; /* 헤더가 숨겨지는 상태의 위치 */
}

.header.visible {
  top: 0; /* 헤더가 보이는 상태의 위치 */
}
.header .mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.header .Logo {
  cursor: pointer;
  font-size: 25px;
  margin: 0 10px;
}

.header .menulist {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  margin: 0 10px;
}

.header .menulist .homebt {
  margin-left: 20px;
  margin-right: 10px;
  width: 55px;
  padding: 5px;
}

.header .homebt,
.header .uploadbt {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 45px;
  padding: 8px;
  border-radius: 15%;
  transition: background-color 0.3s;
  background-color: transparent;
  overflow: hidden; /* 숨길 수 있는 내용이 있으면 숨김 */
}

.header .homebt:hover,
.header .uploadbt:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.header .uploadbt {
  margin-right: 5px;
  white-space: nowrap; /* 텍스트가 한 줄에 있도록 설정 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 생략 부호 표시 */
}

.header .text,
.header .menutext {
  font-weight: 600;
  font-style: normal;
  color: black;
}

.header .menutext {
  font-size: 15px;
}

.header .imgmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  padding-left: 15px;
  height: 50px;
}

.Sidebtn {
  margin: 0 5px;
}

.Line {
  margin: 0;
}

/* Header2 스타일 */
.header2 {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
}

.header2.open {
  left: 0;
}

.header2-menu {
  padding-top: 20px;
}

.header2-menu .menutext {
  padding: 12px;
  cursor: pointer;
}

.header2 .lsidelist {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header2 .sidehomebtn .sideuploadbtn {
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 900px) {
  .header {
    height: 55px; /* 작은 화면에서 헤더 높이 조정 */
  }

  .header .Logo {
    font-size: 22px; /* 작은 화면에서 로고 폰트 사이즈 조정 */
  }

  .header .menulist .homebt,
  .header .uploadbt {
    width: 50px; /* 작은 화면에서 버튼 크기 조정 */
    height: 40px;
  }

  .header .menutext {
    font-size: 14px; /* 작은 화면에서 텍스트 폰트 사이즈 조정 */
  }
}

@media (max-width: 720px) {
  .header {
    height: 50px; /* 더 작은 화면에서 헤더 높이 조정 */
    margin: 0;
  }

  .header .Logo {
    font-size: 20px; /* 더 작은 화면에서 로고 폰트 사이즈 조정 */
  }

  .header .menulist .homebt,
  .header .uploadbt {
    width: 45px; /* 더 작은 화면에서 버튼 크기 조정 */
    height: 35px;
  }

  .header .menutext {
    font-size: 13px; /* 더 작은 화면에서 텍스트 폰트 사이즈 조정 */
  }
}

@media (max-width: 500px) {
  .header {
    height: 45px; /* 가장 작은 화면에서 헤더 높이 조정 */
  }

  .header .Logo {
    font-size: 18px; /* 가장 작은 화면에서 로고 폰트 사이즈 조정 */
  }

  .header .menulist .homebt,
  .header .uploadbt {
    width: 40px; /* 가장 작은 화면에서 버튼 크기 조정 */
    height: 30px;
  }

  .header .menutext {
    font-size: 12px; /* 가장 작은 화면에서 텍스트 폰트 사이즈 조정 */
  }
}

/* Overlay 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.open {
  display: block;
}

.header2 .sidehomebtn {
  margin-bottom: 15px;
}

.header2-menu-button {
  color: #3273ff;
  font-size: 1.5rem;
  margin: 0 7px;
}

.header2-menuopenBtn {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.header2 .logo-image {
  cursor: pointer;
  height: 40px;
  margin-right: 10px;
}

.header2 .search {
  max-width: 220px;
  margin-left: 20px;
  margin-right: 20px;
}

.header2-menu .sidehomebtn {
  margin-left: 2px;
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
}

.header2 .sidehomebtn {
  margin-bottom: 15px;
}

.header2-menu .menutext {
  padding: 12px;
  cursor: pointer;
}
