.topline {
  margin: 0px;
  height: 0px;
  color: rgb(185, 185, 185);
}

.topheader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.header .mainlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .lsidelist {
  margin-left: 5px;
  justify-content: center;
  align-items: center;
}
.header .logoicon {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
  font-size: 20px;
}
.header .menulist {
  display: flex;
}

.header .menulist .homebt {
  margin-left: 50px;
}

.header .text {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.header .menutext {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 16px;
  margin-left: 20px;
}

.menulist .imgmenu {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 30px;
  margin-right: 10px;
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  padding-left: 15px;
  height: 50px;
}

.Line {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.header .imgmenu .loginbutton {
  margin-left: 150px;
}
