/* LoginModal.css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-family: "Noto Sans KR", sans-serif; /* Kakao 스타일의 폰트 사용 */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #d0a4ff; /* 연보라색 */
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #b280ff; /* 연보라색의 좀 더 진한 색상 */
}

.error {
  color: red;
  margin-bottom: 10px;
}

.typography {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a; /* Kakao 스타일의 글씨 색상 */
  text-align: center;
}
