@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #1f2029;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}

a:hover {
  text-decoration: none;
}

.text-center {
}

.link {
  color: #c4c3ca;
}

.link:hover {
  color: #ffeba7;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.checkbox:checked + label .MuiSvgIcon-root,
.checkbox:not(:checked) + label .MuiSvgIcon-root {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 40px;
  transition: all 0.5s ease;
  transform-origin: center;
  color: rgb(200, 90, 250);
}

.checkbox:checked + label .MuiSvgIcon-root {
  animation: rotateIcon 1s forwards;
}

.checkbox:not(:checked) + label .MuiSvgIcon-root {
  animation: rotateIconReverse 1s forwards;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateIconReverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.input-field-Password {
  margin-top: 15px; /* 여기서 margin-bottom을 15px로 설정합니다 */
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: white;
  color: black;
  margin: 0 3px;
}

button:hover {
  background-color: #e6e6fa;
}

button.default,
button.google {
  flex: 1;
}

.typography {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  text-align: center;
}

.btn-6 {
  color: #96a6b7;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-6 span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #5b6b7e;
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: -1;
}

.btn-6:hover {
  color: #f1f5f9;
  background-color: #e6e6fa;
}

.btn-6:hover span {
  width: 200%;
  height: 200%;
}

.btn-6:active {
  background-color: #96a6b7;
}

.assignlogo {
  margin-top: 10px;
  margin-bottom: 15px; /* 여기서 margin-bottom을 15px로 설정합니다 */
}

.button-container-3 {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0; /* 상하 마진 추가 */
  overflow: hidden;
  border: 1px solid #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(200, 90, 250);
    border: none;
    cursor: pointer;

    /* mask 설정 */
    -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
    }
  }
}

.mas {
  position: absolute;
  color: #65adff;
  text-align: center;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
