.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px; /* More padding for a cleaner look */
  border-radius: 8px; /* Slightly less rounded corners */
  outline: none;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Softer shadow */
  font-family: "Roboto", sans-serif; /* Google's primary font */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px; /* More space between inputs */
  padding: 14px; /* Larger padding for inputs */
  font-size: 16px;
  border: 1px solid #dadce0; /* Lighter border color */
  border-radius: 4px; /* Slightly less rounded */
  transition: border-color 0.2s; /* Smooth transition */
}

input:focus {
  border-color: #4285f4; /* Google's blue color for focus */
  outline: none;
}

button {
  padding: 14px; /* Larger padding for button */
  font-size: 16px;
  border: none;
  border-radius: 4px; /* Less rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

button.default {
  background-color: #007bff; /* Standard blue color */
  color: white;
}

button.default:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

button.google {
  background-color: #4285f4; /* Google's blue color */
  color: white;
}

button.google:hover {
  background-color: #3367d6; /* Darker blue on hover */
}

button.signup {
  background-color: #28a745; /* Green color for signup */
  color: white;
}

button.signup:hover {
  background-color: #218838; /* Darker green on hover */
}

.error {
  color: red;
  margin-bottom: 20px;
}

.typography {
  margin-bottom: 40px; /* Updated margin-bottom for the Login title */
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  text-align: center;
}

input[type="email"] {
  margin-top: 10px;
  margin-bottom: 5px; /* Margin between email input and password input */
}

input[type="password"] {
  margin-bottom: 15px; /* Margin between password input and buttons */
}

button.google {
  margin-top: 10px; /* Additional margin for Google button */
}

/* Add the btn-jelly class */
.btn-jelly {
  &:hover {
    animation: jelly 0.5s;
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
