/* PostList.css */

/* 기존 스타일 유지 */
.PostList {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  justify-content: center;
  margin: 10px 0; /* 위아래 20px, 좌우 100px */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.Posts {
  flex: 2;
  margin-right: 50px; /* 우측 여백 줄임 */
  max-width: 100%; /* 최대 너비 100% */
  display: flex;
  flex-direction: column;
  align-items: center; /* 요소를 세로 방향으로 가운데 정렬 */
}

.Followers {
  flex: 1;
  max-width: 100%; /* 최대 너비 100% */
  display: block; /* 기본적으로 Followers 노출 */
}

.PostList .Post {
  width: 345px; /* 카드의 고정된 너비 */
  height: auto; /* 높이 자동 조정 */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.CardMedia {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 댓글 영역 스타일 개선 */
.PostList .comments-section {
  margin-top: 10px;
}

.PostList .comments-list {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.PostList .comments-list .MuiListItem-root {
  background-color: #ffffff;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
}

.PostList .comments-list .MuiListItem-root .MuiAvatar-root {
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

.PostList .comments-list .MuiListItem-root .MuiListItemText-primary {
  font-weight: bold;
}

.PostList .comments-list .MuiListItem-root .MuiListItemText-secondary {
  color: #333;
  margin-top: 4px;
}

/* 댓글 입력 섹션 스타일 */
.PostList .comment-input-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.PostList .comment-input-section .MuiAvatar-root {
  width: 38px;
  height: 38px;
  border-radius: 19px;
}

.PostList .comment-input-section .MuiTextField-root {
  flex: 1;
  margin-left: 10px;
}

.PostList .comment-input-section .MuiButton-root {
  margin-left: 10px;
}

/* 반응형 스타일 조정 */
@media (max-width: 600px) {
  .PostList {
    margin: 10px;
  }

  .Posts {
    margin-right: 0;
  }

  .PostList .Posts .Post {
    width: 100%;
  }

  .PostList .comments-list {
    max-height: 150px;
    overflow-y: auto;
  }

  .PostList .comment-input-section .MuiButton-root {
    min-width: 80px;
  }
}

@media (max-width: 869px) {
  .Followers {
    display: none;
  }
}
