.img {
  width: auto; /* 이미지를 컨테이너의 너비에 맞게 조정 */
  height: auto; /* 비율을 유지하며 높이를 자동으로 조정 */
  object-fit: cover; /* 비율을 유지하면서 이미지가 영역을 채우도록 설정 */
  margin-top: 20px; /* 상하 여백을 20px 추가 */
  margin-bottom: 20px;
}
