.App {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.App .main {
  margin-left: 100px;
  margin-right: 100px;
}

.App .text {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
