/* App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 높이를 최소한 화면 크기만큼 설정 */
  height: 1080px; /* 기본 높이를 1080px로 설정 */
  font-family: "BMJUA";
  font-weight: 600;
  font-style: normal;
  background-color: white;
}

.content {
  flex: 1; /* 주 콘텐츠가 화면에서 남은 공간을 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 주 콘텐츠를 수직 가운데 정렬 */
}

.footer {
  margin-top: auto; /* Footer를 항상 페이지 하단에 고정 */
}
